<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Local market</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/local market/">Local Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <div class="mx-2">
                <button (click)="goToPage('nodemailer')"class="btn btn-primary class"  btn btn-primary data-toggle="modal" data-target="#LoginModal">
                    Admin
                </button>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScNvEzbJI8pWVN-hb8_W_q53H-pXlMLLCOF1DQlt6lwPQFoBA/viewform" target="_blank"> 
                    <button  class="btn btn-primary mx-2" >
                     Client
                    </button>
                </a>
            </div>

        </div>
    </nav>
    <!-- Contact us -->
    <div class="container my-4">
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Owner of the Website</strong>
              <h3 class="mb-0">Kartik Saini</h3>
              <p class="mb-auto"> Student at Punjab University</p>
              <p class="mb-0"> linkedin: <a href="https://www.linkedin.com/in/balbir-kaur-48a41b185" target="_blank" class="href"> Linkedin</a>Kartik Saini </p> 
            
            </div>
            <div class="col-auto d-none d-lg-block">
              <img   src="/src/assets/images/ginni.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Owner of The website</strong>
              <h3 class="mb-0">Balbir Kaur </h3>
              <p class="mb-auto"> Student at Punjab University</p>
              <p class="mb-0"> linkedin: <a href="https://www.linkedin.com/in/balbir-kaur-48a41b185" target="_blank" class="href"> Linkedin</a>Balbir Kaur </p> 
              
            
            </div>
            <div class="col-auto d-none d-lg-block">
            
            </div>
          </div>
        </div>
      </div>
    
    </div>








  

  
</body>

</html>
